@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  overflow-x: hidden;
}

.custom-bg{
  background-color: transparent;
  opacity: 1;
  background-image:  linear-gradient(#444df706 1.2000000000000002px, transparent 1.2000000000000002px), linear-gradient(to right, #444df701 1.2000000000000002px, #f9f9fd08 1.2000000000000002px);
  background-size: 24px 24px;
}